
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 1rem;
}

.library-heading {
  margin: 1rem 0 2rem 0;
}

.library-book {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}

form > *,
.library-book__title {
  margin-top: 1rem;
}

.errMsg {
  color: red;
}
